@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
header {
    display: flex;
    background-color: #d85300;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 0px;
}

.nav_links li a {
    font-family: 'Nunito',sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    
}

.logo {
    cursor:pointer;
    margin-right: auto;
    margin-left: 20px;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    line-height: 65px;
    
}

.nav_links li a:hover {
    color:#1f2b4b
}

.nav_links li a:visited {
    color: #1e2a49;
}

.bcmbr{
    padding: 10px 19px;
    background-color:#1e2a49;
    border: none;
    border-radius:50px;
    color: white;
    font-family: 'Nunito',sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.homepage-content {
    font-family: 'Prompt',sans-serif;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 60px;
}

.homepage-content h1 {
    color: #1e2a49;
    padding-top: 130px;
    padding-bottom: 50px;
    padding-left: 100px;
    font-weight: 600;
    font-size: 3rem;
    .orange {
        color: #d85300;
        background-color: white;
    }
}

.homepage-content p {
    color: #1e2a49;
    font-size: larger;
    font-weight: 500;
    font-size: 1.5rem;
    padding-left: 101px;
}

.newsletter-signup {
    
  background-color:#ffddb9;     
  display: flex;
  margin: 0;
  height: auto;                  
  align-items: center;
  padding: 1.5rem;             
  flex-direction: column;
  margin-top: 15%;

  p {
    color: #1e2a49;
    font-family: 'Prompt',sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 15px;
  }

  .newsletter-input {
     padding: 0.7rem;
    font-size: 1rem;
    margin-right:10px;
    margin-top: 15px;
    margin-bottom: 60px;
    border: 1px solid white;
    border-radius: 50px;
    width: 250px;
    max-width: 100%;
     
    .placeholder{
        font-family: 'Prompt',sans-serif;
    }
  }

  .subscribe {
    padding: 0.5rem;
    font-family: 'Prompt',sans-serif;
    color: white;
    background-color: #d85300;
    font-size:1rem;
    border: 1.5px solid #1e2a49;
    border-radius: 50px;
    width: 150px;
    cursor: pointer;
  }
}

/* .newsletter-signup p {
    
} */

/* .newsletter-input {
 
} */

/* .subscribe {

} */

.success {
   background-color: #becff8;
   padding: 1rem;
   margin-top: 0px;
   font-family: 'Prompt',sans-serif;
    h2 {
        font-size: 30;
        padding-left: 70px;
    }

   .achievements {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items:stretch;
        padding-left: 90px;
        padding-right: 200px;
        padding-top: 15px;
        margin-bottom: 30px;
   }

   .impact {
        background-color: #becff8;
        font-size: 40;
        font-family: 'Prompt',sans-serif;
        line-height: 1.5;
        display: inline-block;
        vertical-align: middle;
   }

   .CPA, .LAC {
        background-color: #becff8;
        font-size: 40;
        font-family: 'Prompt', sans-serif;
   }

   /* .LAC {
    background-color: #becff8;
    font-size: 40;
    font-family: 'Prompt',sans-serif;
   } */

}

.Aboutus {
    font-family: 'Prompt',sans-serif;
    /* display: flex;
    padding-right: 15%; */
    .about-content {
    display: flex;
    align-items: center; 
    gap: 20px; 

        .group-photo {
            width: 400px;
            height: 300px;
            object-fit: cover; 
            margin-left: 100px;
            margin-top: 70px;
            border-radius: 50px;
        }

    }

    h2 {
        color:  #d85300;
        padding-top: 5px;
        padding-left: 3%;
    }

    p {
        font-weight: 500;
        padding-top: 10px;
        padding-left: 4px;
    } 

    .prepare {
        background-color: white;
        color: #d85300;
    }
    
}


.events {

    font-family: 'Prompt',sans-serif;
    h2 {
        font-size: 30;
        padding-left: 100px;
        margin-top: 100px;
    }

    h3 {
        font-size: medium;
        text-align: left;
        font-weight: 500;
        margin-top: 10px;
        margin-left: 80px;
    }
    
    .venue {
        font-size: 12px;
        margin: 5px;
    }

    .event-desc {
        font-size: 14px;
        /* margin: 10px 0; */
        /* padding: 0 20px; */
    }
}

.event-card {
    width: 400px;
    height: 500px;
    border: 3px solid FFB281;
    background-color: FFB281;
    border-radius: 50px;
    padding-left: 40px;
    margin-left: 100px;
    margin-top: 50px;
    display:inline-block;
    vertical-align: top;
}

.event-img {
    margin-top: 20px;
    width:300px;
    height: 130px;
    padding-left: 20px;
}

.register-button {
    background-color: #1e2a49;
    border: 1px solid #1e2a49;
    font-size: 18px;
    color: white;
    /* padding: 10px; */
    border-radius: 50px;
    width: 300px;
    padding: 0.5rem;
    font-family: 'Prompt',sans-serif;
    /* margin-left: 20px;
    margin-top: 50px; */
    /* display: block;        /* Ensure consistent behavior 
    margin: 15px auto;    Center horizontally + add top margin */
    margin-top: 60px;
    margin-left: 10px;
    cursor: pointer;
}